/* GLOBAL */

    html {
        box-sizing: border-box;
        background: #1a1a1a;
      }


    *,*:before,*:after {      /* remove scrollbars */
        box-sizing: inherit;
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
    }

    .hidden {
      visibility: hidden;
      display: none;
    }

    nav {
      position: fixed;
      display: flex;
      right: 0;
      width: 100%;
      height: auto;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      padding: 0 60px;
      color: #fff;
      background: #1a1a1a;
      opacity: 95%;
    }

    nav a, #brand {
      text-decoration: none;
      color: #fff;
    }

    #brand {
      font-size: 32px;
      font-weight: bold;
      padding-left: 2px;
      font-family: "light", -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
      padding-top: 15px;
    }

    nav .navItems {
      position: relative;
      display: flex;
    }

    nav li {
      padding: 0px 30px;
      cursor: pointer;
      line-height: 70px;
      border: 2px solid transparent;
      font-size: 21px;
    }

    nav li:hover, .selected {
      background: #333;
      border: 2px solid #fff;
    }

    li {
      font-family: "light", -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
    }

    img {
      display: block;
      max-height: 45vh;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      image-orientation: from-image;
      -webkit-box-shadow: -14px 21px 28px -2px rgba(135, 135, 135, 0.34);
      -moz-box-shadow: -14px 21px 28px -2px rgba(135, 135, 135, 0.34);
      box-shadow: -14px 21px 28px -2px rgba(135, 135, 135, 0.34);
    }

    @font-face {
      font-family: 'productSans';
      src: url('./productSans.ttf');
    }

    @font-face {
      font-family: 'light';
      src: url('./light.ttf');
    }

    body {
        font-family: "productSans", -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
        height: 100%;
        color: #fff;
    }

    header {
      padding-bottom: 80px;
      margin-bottom: -7px;
    }

/* Page Elements - Index */

#bodyFeedback {
  font-weight: normal;
  padding-bottom: 20px;
  font-size: 36px;
}

#column1 {
  float: left;
  width: 50%;
  margin-top: 8%;
}

#column2 {
  float: left;
  width: 50%;
  padding-right: 60px;
  margin-top: 8%;
}

.projectItems {
  float: right;
  border: 2px solid #fff;
  background: #1a1a1a;
  display: block;
  position: fixed;
}

.headline {
  font-size: 44px;
  font-weight: normal;
}

.attributeMap {
  display: inline-block;
  padding-right: 60px;
}

.attributeCode {
  display: inline-block;
}

.fa-caret-down, .fa-caret-up {
  margin-left: 15px;
}

.fa-map-marker {
  color: #b45353;
  padding-right: 8px;
}

.fa-code {
  color: #7f7fe6;
  padding-right: 8px;
}

.attributeContainer {
  padding-bottom: 40px;
}

textarea, #emails, #name {
  border-radius: 12px;
  border: 2px solid #fff;
  resize: none;
  padding: 16px;
  font-size:1.5em;
  background-color: #1a1a1a;
  color: #fccc75;
  font-family: "productSans", -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

textarea {
  outline: none;
  width: 80%;
  height: 150px;
}

.reachOutActions {
  text-align: right;
  padding-right: 20%;
}

/* Mobile */

@media screen and (max-width: 60em) {

  nav {
    padding: 0 30px;
  }

  #brand {
    font-size: 30px;
    padding-bottom: 9px;
  }

  #column1 {
    width: 30%;
    padding-left: 5%;
  }
  
  #column2 {
    width: 70%;
    padding-left: 15%;
    padding-right: 20px;
    padding-bottom: 30px;
  }

}

@media screen and (max-width: 54em) {

  nav .navItems {
    display: block;
    padding-top: 15px;
  }
  
  nav .hiddenOnMobile {
    display: none;
  }

  nav {
    display: block;
    padding-bottom: 25px;
  }

  nav li {
    text-align: center;
  }

  .projectItems {
    height: 40%;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    width: -moz-available;
    width: -webkit-fill-available;
    height: -moz-available;
    height: -webkit-fill-available;
  }

  .mobileMenuDisplayed {
    padding-bottom: 0px;
  }

  #brand {
    position: absolute;
  }

  .attributeContainer {
    padding-top: 40px;
  }

  #column1 {
    width: 100%;
  }

  #column2 {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  #column2 .headline, .attributeContainer, #bodyFeedback {
    text-align: center;
  }

  textarea, .reachOutActions {
    width: 80%;
    padding-right: 0;
    margin-left: 10%;
  }
  
}