/* GLOBAL */

    html {
        box-sizing: border-box;
        background: #1a1a1a;
      }


    *,*:before,*:after {      /* remove scrollbars */
        box-sizing: inherit;
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
    }

    .hidden {
      visibility: hidden;
    }

    nav {
      position: fixed;
      display: flex;
      right: 0;
      width: 100%;
      height: auto;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      padding: 0 60px;
      color: #fff;
    }

    nav a {
      text-decoration: none;
      color: #fff;
    }

    nav #brand {
      font-size: 32px;
      font-weight: bold;
      padding-left: 2px;
      font-family: "light", -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
      padding-top: 15px;
    }

    nav #navItems {
      position: relative;
      display: flex;
    }

    nav li {
      padding: 0px 30px;
      cursor: pointer;
      line-height: 70px;
      border: 2px solid transparent;
      font-size: 21px;
    }

    nav li:hover, .selected {
      background: #333;
      border: 2px solid #fff;
    }

    li {
      font-family: "light", -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
    }

    img {
      display: block;
      max-height: 45vh;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      image-orientation: from-image;
      -webkit-box-shadow: -14px 21px 28px -2px rgba(135, 135, 135, 0.34);
      -moz-box-shadow: -14px 21px 28px -2px rgba(135, 135, 135, 0.34);
      box-shadow: -14px 21px 28px -2px rgba(135, 135, 135, 0.34);
    }

    @font-face {
      font-family: 'productSans';
      src: url('./productSans.ttf');
    }

    @font-face {
      font-family: 'light';
      src: url('./light.ttf');
    }

    body {
        font-family: "productSans", -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
        height: 100%;
        color: #fff;
    }

    header {
      padding-bottom: 80px;
      margin-bottom: -7px;
    }

/* Page Elements - Index */
.column1 {
  float: left;
  width: 50%;
  margin-top: 8%;
}

.column2 {
  float: left;
  width: 50%;
  padding-right: 60px;
  margin-top: 8%;
}

.fa {
  margin-left: 15px;
}

.projectItems {
  float: right;
  border: 2px solid #fff;
  background: #1a1a1a;
  display: block;
  position: fixed;
}

/* Mobile */

@media screen and (max-width: 1200px) {
  .face {
    max-width: 196px;
    max-height: 320px;
  }
}

@media screen and (max-width: 1025px) {

  .column2 {
    text-align: center;
  }
}

@media screen and (max-width: 999px) {

  nav {
    padding: 0 30px;
    height: 100px;
  }

  .column1 {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .column2 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-top: 40px;
  }

  .face {
    max-width: 196px;
    max-height: 300px;
  }

  nav #brand {
    font-size: 30px;
  }

}

@media screen and (max-width: 999px) and (orientation: landscape) {

  nav {
    height: 70px;
  }
  .column1 {
    width: 40%;
    margin-top: 20px;
  }

  .column2 {
    width: 60%;
    margin-top: 20px;
  }

  .face {
    max-height: 230px;
  }
}